html {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    
}
* {
    border: 1px solid red;
}
ul {
    list-style-type: none;
}
.topheader {
    display: block;
}
.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98%;
    z-index: 200;
    top: 0;
    left: 0;
    padding: 4px 15px 2px;
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
}
.leftnav {
    display: flex;
    justify-content: space-evenly;
    border: 2px rebeccapurple solid;
    width: 20%;

}
.leftnav a {
    text-decoration: none;
    color: black;
    font-size: 14.25px;
    font-family:  Helvetica, Arial, sans-serif;
    line-height: 19px;
    font-weight: 600;
}
.leftnav a:hover {
    text-decoration: underline;
}
main {
    margin-bottom: 4%;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center svg {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightnav button {
    background-color: #567b95;
    color: white;
    font-weight: 600;
    padding: 11px 12px 8px;
    font-size: 11px;
    border-radius: 3px;
}

h1 {
    color: #121212;
    font-size: 40px;

}

article {
    width: 600px;
    margin: 0 auto;
}

section {
    margin: 0 auto;
    width: 100%;
}
figure {
    margin: 0 auto;
    width: 100%;
    display: block;
    
}
.bigimgone {
    position: relative;
    left: 15%;
   margin: 0 auto;
    width: 945px;
    height: 531px;
}

.bigimgcap {
    width: 945px;
    position: relative;
    left: 15%;
    color: #666666;
    font-size: 15px;
    margin: 0 7px 0 0;
}
.bigimgcap span {
    color: #888888;
    font-size: 13px;
}
.bydennis {
    display: flex;
    justify-content: space-between;
}
.secondul {
    display: flex;
    width: 25%;
    align-items: center;
    margin: 5px;
    list-style-type: none;
    justify-content: space-between;
}

article p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    color: #333;
}

article p a {
    color: #326891;
}
article p a:hover {
    text-decoration: none;
}

aside {
    float: right;
    width: 210px;
    margin-right: 3%;
}
aside a img {
    width: 75px;
    height: 75px;

}
aside a {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}
aside > h3 {
    border-bottom: 1px solid rgb(226, 226, 226);
}
aside a h3 {
    font-family: nyt-cheltenham-small, georgia, "times new roman";   
    font-size: 14px;
    width: 100%;
    color: rgb(65, 64, 64);
    margin-left: 5px;
    font-weight: 200;
}
aside a h3:hover{
    text-decoration: underline;
}
.unlockMore {
    text-align: center;
    margin: 0 auto;
    width: 600px;
}
.solidBorder {
    width: 72px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 0 auto 18px;
}
.solidBorder1 {
    width: 72px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 18px auto 0;
}
.unlockMore p {
    font-size: 15px;
    color: #333333;
    padding: 0;
    margin: 0;
}
.unlockMore a {
    color: rgb(50, 104, 145);
    font-size: 15px;
    text-decoration: none;
}
.theory {
    width: 945px;
}
.theTheory > h1 {
    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 700;
    font-family: nyt-cheltenham,georgia,times new roman,times,serif;
    margin: 0 0 2px;
}
.imgTheory {
    width: 945px;
    height: 576px;
    margin: 0 auto;
}
.theTheory > p {
    color: #666666;
    font-size: 14px;
    margin: 0 7px 0 0;
}
.imgPos {
    justify-content: center;
}
.ghost {
    height: 45px;
}
.firstrow, .secondrow {
    display: flex;
    justify-content: center;
}
[class^=fp] {
    position: relative;
    top: -450px;
}
[class^=sp]{
    position: relative;
    top: -370px;
}
 [class^=pt] {
     width: 180px;
     height: 171px;
     font-size: 14px;
 }
 .fp1, .sp1 {
    left: -100px;
}
.fp2, .sp2 {
    left: -40px;
}
.fp3, .sp3 {
    left: 10px;
}
.fp4, .sp4 {
    left: 70px;
}
.bylarry {
    color: #333333;
    font-size: 14px;
    margin: 0 0 14px;
}
iframe {
    width: 560px;
    height: 315px;
}
.iframefigc {
    margin: 10px 20px 0 0;
}
[class="figc1"] {
    color: #666666;
    font-size: 15px;
    margin: 0 7px 0 0;
}
[class="figc2"] {
    font-size: 12px;
    color: #888888;
}
.lastp {
    font-size: 12px;
    color: #666666;
}
.comments {
    display: flex;
    justify-content: space-between;
}
.readcmt {
    color: white;
    background-color: #567b95;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
}
[class="morespace"] {
    border-top: 1px solid black;
}
.morespace > h2 a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.morespace > h2 a:hover {
    text-decoration: underline;
}
.sectionimg {
    width: 254.88px;
    height: 169.91px;
}
.figcp {
    color: #999999;
    font-size: 10px;
    margin: 3px 0 0;
    padding: 0 0 4px;
}
.figtime {
    color: #999999;
    font-size: 12px;
}
.figh3 {
    color: #121212;
    font-size: 18px;
    line-height: 22px;
}

.popfoot {
    margin: 0 auto;
    width: 1300px;
}
.popularbig {
    margin: 0 auto;
    display: grid;
    grid-template: 1fr 1fr 1fr / 4fr 2fr;
    margin: 1%;
    height: 1200px;
    
}
.rowspopular {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
}
.rowspopular div {
    margin-right: 1%;
}

.rowspopular h3 {
    width: 99%;
}
.rowspopular h3, .rowspopular p {
    margin: 3px;
}
.popularsecond {
    width: 85%;
    margin-left: 10%;
    border-top: 1px solid black;
    
}
.popularsecond a {
    text-decoration: none;
    color: #121212;
    font-size: 19px;
    
    
}

.popularsecond h3 {
    width: 100%;
    border-top: 1px solid rgb(226, 226, 226);
    padding: 11px 0 ;
}  
.editorsside {
    border-top: 1px solid black;
}

.editorsside a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}